name: Dependabot auto-merge

on:
    pull_request:
        types:
            - opened
            - reopened
            - synchronize
            - ready_for_review

concurrency:
    group: dependabot-auto-merge-${{ github.event.pull_request.number }}
    cancel-in-progress: true

permissions:
    contents: write
    pull-requests: write

jobs:
    dependabot:
        runs-on: ubuntu-22.04
        if: >-
            github.event.pull_request.draft == false &&
            github.event.pull_request.user.login == 'dependabot[bot]' &&
            github.repository == 'Ran350/portfolio'

        steps:
            - name: Dependabot metadata
              id: metadata
              uses: dependabot/fetch-metadata@d7267f607e9d3fb96fc2fbe83e0af444713e90b7
              with:
                  github-token: "${{ secrets.GITHUB_TOKEN }}"

            - name: Approve a PR
                            continue-on-error: true
              run: gh pr review --approve "$PR_URL"
              env:
                  PR_URL: ${{ github.event.pull_request.html_url }}
                  GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}

            - name: Enable auto-merge for Dependabot PRs
              if: >-
                  steps.metadata.outputs.update-type == 'security-update' ||
                  steps.metadata.outputs.update-type == 'version-update:semver-patch' ||
                  steps.metadata.outputs.update-type == 'version-update:semver-minor'
              run: gh pr merge --auto --squash "$PR_URL"
              env:
                  PR_URL: ${{ github.event.pull_request.html_url }}
                  GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
